.classpath
.project
*~
~*
*.swp
*.swo
*.pyc
*.iml
*.eml
.idea/
tags
.~lock.*
*.ipr
*.iws
.pydevproject
.DS_Store

.settings/
.gradle/
.git/


-# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
-
-
-# txt.bak
*.bak
-
-#svn
/.svn/
-
-#build
/build
-
-#class file
*.class
/bin/
